@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
.a-mob, .a {
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

body {
  background: wheat;
}

.cont-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border-bottom: 1px solid #EAE8E4;
}

.logo {
  margin: 16px 0px;
}

.lin {
  margin-bottom: 11px;
}

.a {
  padding-bottom: 14px;
}
.a:hover {
  color: #C15FAC;
  border-bottom: 1px solid #C15FAC;
}

.ico {
  margin-left: 1.5vw;
}

.burg {
  border-style: none;
  background-color: #ffffff;
}

.lin-mob:after {
  padding: 8px;
  content: " ";
  background-image: url(ico/Next.png);
  background-repeat: no-repeat;
}

.lin-m {
  background: #ffffff;
  padding: 11px 5px;
  border-bottom: 1px solid #EAE8E4;
  text-align: left;
}

.lin-mob {
  background: #ffffff;
  padding: 11px 5px;
  border-bottom: 1px solid #EAE8E4;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lin-m:hover {
  color: #C15FAC;
  border-bottom: 1px solid #C15FAC;
}

.lin-mob:hover {
  color: #C15FAC;
  border-bottom: 1px solid #C15FAC;
}

.a-mob:hover {
  color: #C15FAC;
}

@media (max-width: 576px) {
  .ico-sing {
    display: none;
  }
}